.container {
  top: 0;
  position: fixed;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, rgb(19, 19, 19) 0%, 'transparent');
  backdrop-filter: blur(2px);
}

.title {
  font-size: 2rem;
  font-weight: 700;
  padding-left: 4rem;
}

.links {
  padding-right: 4rem;
}
